<app-nav></app-nav>
<div class="container">
    <div class="">
        <button (click)="addNewCustomer()" type="button" class="btn btn-primary btn-sm me-2">Crear cliente</button>
    </div>
    <div style="height: 82vh; overflow-y: auto;">
        <table class="table table-hover">
            <caption>Lista de clientes</caption>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">c.c.</th>
                    <th scope="col">email</th>
                    <th scope="col">Dirección residencia</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customersList">
                    <td>{{customer.nombreCliente}}</td>
                    <td>{{customer.apellidoCliente}}</td>
                    <td>{{customer.ccCliente}}</td>
                    <td>{{customer.emailCliente}}</td>
                    <td>{{customer.direccionCliente}}</td>
                    <td>
                        <div class="">
                            <button (click)="addNewCustomer()" type="button"
                                class="btn btn-info btn-sm me-2">Editar</button>

                            <button class="btn btn-primary" >Abrir Modal</button>

                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Título del Modal</h4>
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Contenido del modal...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="modal.close('Close click')">Cerrar</button>
                                </div>
                            </ng-template>



                            <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>