.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 50%;
    height: 50%;
}

/* .carousel-item img {
    width: 50%;
    height: 50%;
    object-fit: cover;
} */

/* .center-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 50%;
}

div {
    margin: 15px;
    background-color: cornflowerblue;
} */